#heading1{
    font-size:60px;
    padding:2px;
    text-align:center;
    text-decoration:underline;
}

#table{
    background-color: rgb(88, 242, 242);
    text-align: center;
    box-sizing: border-box;
    max-height: 1000px;
    max-width: 1200px;
    margin: 0 400px;
}
#bncolor{
    height:50px;
    margin:200px;
    width:100px;
}
.paragraph{
    text-align:center;
    font-size:25px;
}
.p2{
    font-size: 20px;
    display:none;
}



#unorganised1{
    font-size: 20px;
    display:none;
}
#unorganised2{
    font-size: 20px;
    display:none;
}
#unorganised3{
    font-size: 20px;
    display:none;
}

#unorganised4{
    font-size: 20px;
    display:none;
}
#unorganised5{
    font-size: 20px;
    display:none;
}
#unorganised6{
    font-size: 20px;
    display:none;
}
#unorganised7{
    font-size: 20px;
    display:none;
}
#unorganised8{
    font-size: 20px;
    display:none;
}
#unorganised9{
    font-size: 20px;
    display:none;
}



#mi:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#tg:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#jr:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#rd:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#tc:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#ce:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#ya:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#sk:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#hk:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#ar:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#oi:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#qn:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#onethree:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#onesix:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#oneeight:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#cb:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#ba:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#rp:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#vr:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#eg:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#sm:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#jm:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#lo:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#my:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#wb:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#hh:hover{
    background-color:greenyellow;
    text-decoration: underline;
}
#jd:hover{
    background-color:greenyellow;
    text-decoration: underline;
}





#usernamedisplay{
    display:none;
}

#next{
    display:none;
}
#next2{
    display:none;
}


#pageNumber{
    display:none;
    float:left;
}
#intro{
    font-size:20px;
}
#labelInfo{
    font-size:20px;
    
}
#q1{
    display:none;
}
#q2{
    display:none;
}
#q3{
    display:none;
}
#next1{
display:none;
}
@media screen and(min-width: 350px){
    #table{
        height:500px;
        width:10%;
        display:flex;
        flex-direction: row;

    }
}