#heading1{
    font-size:60px;
    padding:2px;
    text-align:center;
    text-decoration:underline;
}

#table{
    background-color: rgb(88, 242, 242);
    text-align: center;
    box-sizing: border-box;
    max-height: 800px;
    max-width: 1200px;
    margin: 0 400px;
}
#bncolor{
    height:50px;
    margin:200px;
    width:100px;
}
.paragraph{
    text-align:center;
    font-size:25px;
}
#p2{
    font-size: 20px;
    color: white;
    display:none;
}
#p3{
    font-size: 20px;
    color: white;
    display:none;
}
#p4{
    font-size: 20px;
    color: white;
    display:none;
}
#p5{
    font-size: 20px;
    color: white;
    display:none;
}
#p6{
    font-size: 20px;
    color: white;
    display:none;
}
#p7{
    font-size: 20px;
    color: white;
    display:none;
}
#p8{
    font-size: 20px;
    color: white;
    display:none;
}
#p9{
    font-size: 20px;
    color: white;
    display:none;
}
#p10{
    font-size: 20px;
    color: white;
    display:none;
}


#unorganised1{
    font-size: 20px;
    display:none;
}
#unorganised2{
    font-size: 20px;
    display:none;
}
#unorganised3{
    font-size: 20px;
    display:none;
}

#unorganised4{
    font-size: 20px;
    display:none;
}
#unorganised5{
    font-size: 20px;
    display:none;
}
#unorganised6{
    font-size: 20px;
    display:none;
}
#unorganised7{
    font-size: 20px;
    display:none;
}
#unorganised8{
    font-size: 20px;
    display:none;
}
#unorganised9{
    font-size: 20px;
    display:none;
}



#mi:hover{
    background-color:greenyellow;
}
#tg:hover{
    background-color:greenyellow;
}
#jr:hover{
    background-color:greenyellow;
}
#rd:hover{
    background-color:greenyellow;
}
#tc:hover{
    background-color:greenyellow;
}
#ce:hover{
    background-color:greenyellow;
}
#ya:hover{
    background-color:greenyellow;
}
#sk:hover{
    background-color:greenyellow;
}
#hk:hover{
    background-color:greenyellow;
}
#ar:hover{
    background-color:greenyellow;
}
#oi:hover{
    background-color:greenyellow;
}
#qn:hover{
    background-color:greenyellow;
}
#onethree:hover{
    background-color:greenyellow;
}
#onesix:hover{
    background-color:greenyellow;
}
#oneeigth:hover{
    background-color:greenyellow;
}







#pageNumber{
    display:none;
    float:left;
}
#intro{
    font-size:20px;
}
#labelInfo{
    font-size:20px;
    
}
#q1{
    display:none;
}
#q2{
    display:none;
}
#q3{
    display:none;
}
#next1{
display:none;
}